extends ./includes/layout.pug

block title
    title= title

block meta
    meta(name="keywords", content=keywords)
    meta(name="description", content=description)
    meta(name="author", content=author.firstname+" "+author.lastname)
    include ./includes/socialMeta.pug

block content
    article
        header
            a(href=href)
                h2= title
            h6 #{author.firstname} #{author.lastname} / #{date}
        figure(role="presentation")
            img(src=imgHeader, alt=title)
        section!= content
        footer.meta
            p posted in
            ul.tags-list
                each tag in tags
                    li
                        a.tag(href=tag.link) ##{tag.name}

    include ./includes/disqus.pug

block analytics
    include ./includes/analytics.pug
    include ./includes/analytics-article.pug
