doctype html
html(lang="en")

    head
        title= title + " // Cafe Dev"
        style(type="text/css")= styles
        script(type='text/javascript').
            console.log("test");

    body
        div
            article
                section
                    h1= title
                    span= subtitle
                    img(src=imgHeader)
            include ./includes/disqus.pug
        div
            include ./includes/recentList.pug
