doctype html
html(lang="en")

    head
        title= title + " // Cafe Dev"
        style(type="text/css")= styles

    body
        div
            article
                section
                    h1= title
                    span= subtitle
                    img(src=imgHeader)
                section!= content
            include ./includes/disqus.pug
        div
            include ./includes/recentList.pug
        include ./includes/footer.pug
