meta(property="og:title",content=title)
meta(property="og:type",content="article")
meta(property="og:url",content=href)
meta(property="og:image",content=imgHeaderAbs)
meta(property="og:description",content=description)
//- BEGIN: Twitter card
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:site", content="CafeDev")
meta(property="twitter:creator", content="@"+author.twitter)
meta(property="twitter:title", content=title)
meta(property="twitter:description", content=description)
meta(property="twitter:image", content=imgHeaderAbs)
//- END: Twitter card
